:root {
  --bs-blue: #7269ef;
  --bs-indigo: #564ab1;
  --bs-purple: #8e4aec;
  --bs-pink: #e83e8c;
  --bs-red: #ef476f;
  --bs-orange: #fc814a;
  --bs-yellow: #ffd166;
  --bs-green: #06d6a0;
  --bs-teal: #050505;
  --bs-cyan: #50a5f1;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #7a7f9a;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #f5f7fb;
  --bs-gray-300: #f0eff5;
  --bs-gray-400: #e6ebf5;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #7a7f9a;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #7269ef;
  --bs-secondary: #7a7f9a;
  --bs-success: #06d6a0;
  --bs-info: #50a5f1;
  --bs-warning: #ffd166;
  --bs-danger: #ef476f;
  --bs-light: #e6ebf5;
  --bs-dark: #343a40;
  --bs-primary-rgb: 114, 105, 239;
  --bs-secondary-rgb: 122, 127, 154;
  --bs-success-rgb: 6, 214, 160;
  --bs-info-rgb: 80, 165, 241;
  --bs-warning-rgb: 255, 209, 102;
  --bs-danger-rgb: 239, 71, 111;
  --bs-light-rgb: 230, 235, 245;
  --bs-dark-rgb: 52, 58, 64;
  --bs-primary-text-emphasis: #2e2a60;
  --bs-secondary-text-emphasis: #31333e;
  --bs-success-text-emphasis: #025640;
  --bs-info-text-emphasis: #204260;
  --bs-warning-text-emphasis: #665429;
  --bs-danger-text-emphasis: #601c2c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #e3e1fc;
  --bs-secondary-bg-subtle: #e4e5eb;
  --bs-success-bg-subtle: #cdf7ec;
  --bs-info-bg-subtle: #dcedfc;
  --bs-warning-bg-subtle: #fff6e0;
  --bs-danger-bg-subtle: #fcdae2;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #e6ebf5;
  --bs-primary-border-subtle: #c7c3f9;
  --bs-secondary-border-subtle: #caccd7;
  --bs-success-border-subtle: #9befd9;
  --bs-info-border-subtle: #b9dbf9;
  --bs-warning-border-subtle: #ffedc2;
  --bs-danger-border-subtle: #f9b5c5;
  --bs-light-border-subtle: #f5f7fb;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: "Public Sans", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.15),
    hsla(0, 0%, 100%, 0)
  );
  --bs-body-font-family: "Public Sans", sans-serif;
  --bs-body-font-size: 0.9375rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #495057;
  --bs-body-color-rgb: 73, 80, 87;
  --bs-body-bg: #f7f7ff;
  --bs-body-bg-rgb: 247, 247, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: #7a7f9a;
  --bs-secondary-color-rgb: 122, 127, 154;
  --bs-secondary-bg: #f5f7fb;
  --bs-secondary-bg-rgb: 245, 247, 251;
  --bs-tertiary-color: rgba(73, 80, 87, 0.5);
  --bs-tertiary-color-rgb: 73, 80, 87;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #7269ef;
  --bs-link-color-rgb: 114, 105, 239;
  --bs-link-decoration: none;
  --bs-link-hover-color: #6159cb;
  --bs-link-hover-color-rgb: 97, 89, 203;
  --bs-link-hover-decoration: underline;
  --bs-code-color: #e83e8c;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fcf8e3;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #f0eff5;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.25rem;
  --bs-border-radius-sm: 0.2rem;
  --bs-border-radius-lg: 0.4rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(114, 105, 239, 0.25);
  --bs-form-valid-color: #06d6a0;
  --bs-form-valid-border-color: #06d6a0;
  --bs-form-invalid-color: #ef476f;
  --bs-form-invalid-border-color: #ef476f;
}
.text-muted {
  color: var(--bs-secondary-color) !important;
}
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important  ;
}
.fa-solid .fa-heart {
  --bs-text-opacity: 1;
  color: rgba(239, 71, 111, var(--bs-text-opacity)) !important;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}
.username, .password {
  /* 2 animations: shake, and glow red */
  animation-name: shake, glow-red;
  animation-duration: 0.7s, 0.35s;
  animation-iteration-count: 1, 2;
  
}

@keyframes shake {
  0%,
  20%,
  40%,
  60%,
  80% {
    transform: translateX(8px);

  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);

  }
}

@keyframes glow-red {
  50% {
    border: 1px solid red;

  }
}
.btn_submit_login {
}
